<div id="footer">
    <div class="footer-menu">
        <div class="container">
            <a href="/<%- page.urls.year %>" class="fm-link"><%- page.l.allYears %></a>
            <span class="space">-</span>
            <a href="/<%- page.urls.genre %>" class="fm-link"><%- page.l.allGenres %></a>
            <span class="space">-</span>
            <a href="/<%- page.urls.country %>" class="fm-link"><%- page.l.allCountries %></a>
            <span class="space">-</span>
            <a href="/<%- page.urls.actor %>" class="fm-link"><%- page.l.allActors %></a>
            <span class="space">-</span>
            <a href="/<%- page.urls.director %>" class="fm-link"><%- page.l.allDirectors %></a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="copyright">
                <div class="recentlyViewedBlock" style="display: none; margin: 20px auto">
                    <div><%- page.l.watched %>:</div>
                    <div id="recentlyViewed"></div>
                </div>
                <div class="footer-logo"><img src="/themes/<%- page.theme %>/public/images/logo-footer.png" title=""
                                              alt=""></div>
                <div class="txt">
                    <span> &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io"
                                                                               target="_blank">CinemaPress</a></span>
                    <p><span id="mylo">Activate JS</span>
                        <script>(function(d, i, l, r) {
                            d.getElementById(i).innerHTML = l + '@' + r;
                          })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
                    </p>
                </div>
                <% if (page.social) { %>
                    <div class="footer-follow">
                        <% if (page.social.vk) { %><a href="<%- page.social.vk %>" target="_blank"><i
                                    class="fa fa-vk"></i></a>
                        <% } %>
                        <% if (page.social.facebook) { %><span> </span><a href="<%- page.social.facebook %>"
                                                                          target="_blank"><i class="fa fa-facebook"></i></a>
                        <% } %>
                        <% if (page.social.telegram) { %><span> </span><a href="<%- page.social.telegram %>"
                                                                          target="_blank"><i class="fa fa-telegram"></i></a>
                        <% } %>
                        <% if (page.social.twitter) { %><span> </span><a href="<%- page.social.twitter %>"
                                                                         target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                        <% } %>
                        <% if (page.social.youtube) { %><span> </span><a href="<%- page.social.youtube %>"
                                                                         target="_blank"><i
                                    class="fa fa-youtube"></i></a>
                        <% } %>
                        <% if (page.social.instagram) { %><span> </span><a href="<%- page.social.instagram %>"
                                                                           target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        <% } %>
                    </div>
                <% } %>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<script>
  (function() {
    var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
    var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
    var dataAllSrcCountComp = 0;
    var fSrc = {
      'dataCountImage': function() {
        dataAllSrcCountComp = dataAllSrcCountComp+1;
        if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
          dataAllSrcCount = 0;
          setTimeout(function() {
            fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
          }, 1);
        }
      },
      'dataSetImage': function(el) {
        var src = el.dataset.cinemapressSrc;
        var bgSrc = el.dataset.cinemapressBgSrc;
        if (!src && !bgSrc) return;
        var img = new Image();
        img.src = src ? src : bgSrc;
        img.onload = function() {
          if (src) { el.src = src; }
          else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
        }
      },
      'checkLoad': function(els, fn) {
        if (!els) return;
        els.forEach(function(src) {
          if (typeof src.complete === 'undefined' || src.complete) {
            fSrc[fn](src);
          } else {
            src.addEventListener('load', function() {
              fSrc[fn](this);
            }, { once: true });
          }
        });
      }
    }
    fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
  })();
</script>

<script type="text/javascript" src="/themes/<%- page.theme %>/public/js/all.min.js"></script>
<%- page.codes.footer %>