<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<% include includes/header.ejs %>

<div id="main">
    <div class="container">

        <div id="main-content">

            <% if (typeof slider === 'object' && slider.length) { %>
            <div id="slider">
                <div class="swiper-wrapper">
                    <% slider.forEach(function (movie) { %>
                    <div class="swiper-slide" style="background-image: url(<%- movie.picture %>);">
                        <a href="<%- movie.url %>" title="<%= movie.title %>" class="slide-link"></a>
                        <div class="slide-caption">
                            <p class="sc-name"><%= movie.title %></p>
                            <p class="sc-info"><span><%- movie.country_url %></span> <span><%- movie.genre_url %></span> <span><%- movie.year_url %></span> </p>
                            <a href="<%- movie.url %>" class="btn btn-go"><i class="icon-play mr10"></i><%- page.l.more %></a>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="clearfix"></div>
            </div>
            <% } %>

            <div class="clearfix"></div>

            <% if (typeof page.adv === 'object' && page.adv.top) { %>
            <div style="text-align: center; margin: 10px auto">
                <%- page.adv.top %>
            </div>
            <% } %>

            <div class="clearfix"></div>

            <% if (typeof index === 'object') {
                    for (var type in index) {
            if (index.hasOwnProperty(type) && index[type].length) {
            index[type].forEach(function (category) { %>

            <div class="goblock featured-block">
                <div class="goblock-header">
                    <div class="gh-title"><%- category.name %></div>
                    <div class="clearfix"></div>
                </div>
                <div class="goblock-content">
                    <ul class="ulclear grid-item grid-item-featured">

                        <% if (category.movies.length) {
                        category.movies.forEach(function (movie) { %>

                        <li class="movie-item">
                            <a href="<%- movie.url %>" title="<%= movie.title %>" class="thumb">
                                <div class="gi-play"><i class="icon-play"></i></div>
                                <% if (movie.translate) { %>
                                <div class="gr-eps"><%- movie.translate %></div>
                                <% } %>
                                <% if (movie.quality) { %>
                                <div class="gr-quality"><%- movie.quality %></div>
                                <% } %>
                                <img src="<%- movie.poster %>" title="<%= movie.title %>" alt="<%= movie.title %>">
                            </a>
                            <div class="item-detail">
                                <h2 class="item-title">
                                    <a href="<%- movie.url %>"><%= movie.title %> (<% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %><% } else { %><%- movie.year %><% } %>)</a>
                                </h2>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <% }); } %>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <% }); } } } %>

            <div class="clearfix"></div>

            <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
            <div style="text-align: center; margin: 10px auto">
                <%- page.adv.bottom %>
            </div>
            <% } %>

            <div class="clearfix"></div>
            <% if (typeof page.pagination === 'object') { %>
            <div id="pagination">
                <nav>
                    <ul class="pagination">
                        <% if (page.pagination.first) { %>
                        <li><a href="<%- page.pagination.first.link %>" rel="nofollow"><%- page.pagination.first.number %></a></li>
                        <li class="active"><a href="javascript:void(0)">...</a></li>
                        <% } %>
                        <% if (page.pagination.prev.length) { %>
                        <% page.pagination.prev.forEach(function (prev) { %>
                        <li><a href="<%- prev.link %>" rel="nofollow"><%- prev.number %></a></li>
                        <% }); %>
                        <% } %>
                        <li class="active"><a href="javascript:void(0)"><%- page.pagination.current %></a></li>
                        <% if (page.pagination.next.length) { %>
                        <% page.pagination.next.forEach(function (next) { %>
                        <li><a href="<%- next.link %>" rel="nofollow"><%- next.number %></a></li>
                        <% }); %>
                        <% } %>
                        <% if (page.pagination.last) { %>
                        <li class="active"><a href="javascript:void(0)">...</a></li>
                        <li><a href="<%- page.pagination.last.link %>" rel="nofollow"><%- page.pagination.last.number %></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <% } %>

            <% if (page.seo) { %>
            <div class="goblock">
                <div class="goblock-bottom">
                    <h1><%- page.h1 %></h1>
                    <%- page.seo %>
                </div>
            </div>
            <% } %>

        </div>

        <% include includes/right.ejs %>

    </div>
</div>

<% include includes/footer.ejs %>

</body>
</html>


